@model BaseDeDonneesTP2.Models.Unite

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Unite</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoutEnPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoutEnPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faction.FactionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UniteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
