@model IEnumerable<BaseDeDonneesTP2.Models.VwDataSheet>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(modelItem => Model.FirstOrDefault().NomUnite)</h4>
    <h3>@Html.DisplayFor(modelItem => Model.FirstOrDefault().CoutEnPoint)</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NomModele)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mouvement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endurance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sauvegarde)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commandement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ControleObjectif)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomModele)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mouvement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endurance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sauvegarde)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Commandement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ControleObjectif)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
