@model BaseDeDonneesTP2.ViewModel.DataSheetVM
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(modelItem => Model.DataSheet.FirstOrDefault().NomUnite)</h4>
    <h3>@Html.DisplayFor(modelItem => Model.DataSheet.FirstOrDefault().CoutEnPoint)</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DataSheet.FirstOrDefault().NomModele)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSheet.FirstOrDefault().Mouvement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSheet.FirstOrDefault().Endurance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSheet.FirstOrDefault().Sauvegarde)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSheet.FirstOrDefault().Pv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSheet.FirstOrDefault().Commandement)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataSheet.FirstOrDefault().ControleObjectif)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DataSheet)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomModele)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mouvement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Endurance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sauvegarde)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pv)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Commandement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ControleObjectif)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.PhotoUnite.FirstOrDefault() != null)
    {
        <h3>Image de l'unité</h3>
        <img alt="Fruit" src="@(Model.PhotoUnite.FirstOrDefault() == null ? "/images/placeholder.png" : Model.PhotoUnite.FirstOrDefault())" />
    }
</div>
<div>
    <a asp-action="Abilite" asp-route-id="@Model.DataSheet.FirstOrDefault().UniteId">Voir les abilités de l'unité</a>
    <br/>
    <a asp-action="Index">Revenir à l'index</a>
</div>
